body,
html {
  margin: 0;
  padding: 0;
}
.nav_bar {
  position: sticky;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.desktop_nav_bar {
  height: 70px;
  width: 100%;
  display: inline-flex;
}
.website_name {
  height: 100px;
  margin-left: 20px;
  cursor: pointer;
}
.nav_bar_options_list {
  display: inline-flex;
  list-style-type: none;
  height: 40px;
  align-items: flex-end;
}
.nav_bar_option {
  color: #fff;
  cursor: pointer;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto";
}
.login_options {
  display: inline-flex;
  height: 60px;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 30px;
}
.log_in {
  text-decoration: none;
  cursor: pointer;
  background-color: #99d19c;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto";
  padding: 6px 20px;
  border-radius: 3px;
  margin-right: 10px;
}

.sign_up {
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-family: "Roboto";
  padding: 6px 20px;
  border-radius: 3px;
}
